
<div style="margin-bottom:100px; margin-top:50px;">
<h1 style="margin-left:300px;">投稿編集</h1>

<div class="tv_image">
  <div class="edit_post_back" style="padding:20px; font-family: dot-text;">

    <%= form_with model: @post, url: users_posts_edit_path(@post.id) do |f| %>

      <div class="new_post_form" style="margin-left:22px;">
        <b><%= f.label "タイトル" %></b>
        <%= f.text_field :title, style: "width:230px; margin-left:65px;" %><br>
      </div>
    
      <div class="new_post_form" style="margin-left:38px;">
        <b><%= f.label "文章" %></b>
        <%= f.text_area :introduction, style: "width:230px; height:60px; margin-left:90px;" %><br>
      </div>
    
      <div class="new_post_form">
        <b><%= f.label "ゲームタイトル" %></b>
        <%= f.text_field :game_name, style: "width:230px; margin-left:30px;" %><br>
      </div>
    
      <div class="new_post_form" style="margin-left:17px;">
        <b><%= f.label "いろんなID" %></b>
        <%= f.text_field :various_id, style: "width:230px; margin-left:55px;" %><br>
      </div>
    
        <%= f.hidden_field :user_id, value: current_user.id %>
    
      <div style="margin-top:32px;">
        <input type="submit" value="編集完了!" class="edit_post_button">
    
    <% end %>
    
          <b><%= link_to "削除", destroy_posts_path(@post.id), method: :delete, class: "delete_button" %></b>
      </div>
      
</div>

</div>