<h1 style="margin-left:300px;">新規投稿</h1>

  <div class="new_post_back" style="padding:20px;">

    <%= form_with model: @post, url: users_posts_path do |f| %>

      <div class="new_post_form" style="margin-left:22px;">
        <%= f.label "タイトル" %>
        <%= f.text_field :title, :placeholder => "タイトル", style: "width:230px; margin-left:65px;" %><br>
      </div>
    
      <div class="new_post_form" style="margin-left:38px;">
        <%= f.label "文章" %>
        <%= f.text_area :introduction, :placeholder => "本文", style: "width:230px; height:60px; margin-left:90px;" %><br>
      </div>
    
      <div class="new_post_form">
        <%= f.label "ゲームタイトル" %>
        <%= f.text_field :game_name, style: "width:230px; margin-left:30px;" %><br>
      </div>
    
      <div class="new_post_form" style="margin-left:17px;">
        <%= f.label "いろんなID" %>
        <%= f.text_field :various_id, :placeholder => "000-000-000", style: "width:230px; margin-left:55px;" %><br>
      </div>
    
      <p class="post_danger">※ID内には、<b>ゲ-ム内ID</b>や <b>PlaystationID</b> などを記入してください</p>
    
      <%= f.hidden_field :user_id, value: current_user.id %>
    
      <%= f.submit "投稿する", style: "margin-left:230px;" %>

    <% end %>

  </div>