<h1>新規投稿</h1>

<%= form_with model: @post, url: users_posts_path do |f| %>

<%= f.label "タイトル" %>
<%= f.text_field :title, :placeholder => "タイトル" %><br>

<%= f.label "文章" %>
<%= f.text_area :introduction, :placeholder => "本文" %><br>

<%= f.label "ゲームタイトル" %>
<%= f.text_field :game_name %><br>

<%= f.label "いろんなID" %>
<%= f.text_field :various_id, :placeholder => "000-000-000" %>

<%= f.hidden_field :user_id, value: current_user.id %>

<%= f.submit "投稿する" %>

<% end %>