
<div style="margin-bottom:100px; margin-top:50px;">

<h1 class="page_title">新規投稿</h1>

<div class="tv_image">
  <div class="new_post_back" style="padding:20px; font-family: dot-text;">

    <%= form_with model: @post, url: users_posts_path do |f| %>

      <div class="new_post_form" style="margin-left:22px;">
        <b><%= f.label "タイトル" %></b>
        <%= f.text_field :title, :placeholder => "タイトル", style: "width:230px; margin-left:65px;" %><br>
      </div>
    
      <div class="new_post_form" style="margin-left:38px;">
        <b><%= f.label "文章" %></b>
        <%= f.text_area :introduction, :placeholder => "本文", style: "width:230px; height:60px; margin-left:90px;" %><br>
      </div>
    
      <div class="new_post_form">
        <b><%= f.label "ゲームタイトル" %></b>
        <%= f.text_field :game_name, style: "width:230px; margin-left:30px;" %><br>
      </div>
    
      <div class="new_post_form" style="margin-left:17px;">
        <b><%= f.label "いろんなID" %></b>
        <%= f.text_field :various_id, :placeholder => "000-000-000", style: "width:230px; margin-left:55px;" %><br>
      </div>
    
      <p class="post_danger">※ID内には、<b>ゲ-ム内ID</b>や <b>PlaystationID</b> などを記入してください</p>
    
      <%= f.hidden_field :user_id, value: current_user.id %>
    
      <input type="submit" value"送信する" class="new_post_button">

    <% end %>

  </div>
</div>
</div>