<h1>投稿詳細</h1>

 <div style="margin:20px">
   <h5>タイトル</h5>
   <%= @post.title %><br>
   <h5>本文</h5>
   <%= @post.introduction %><br>
   <%= @post.game_name %><br>
   <%= @post.various_id %>
 </div>

 <div>
     <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <div>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment_introduction %>
          </div>
        <% end %>
 </div>

 <div>
  <%= form_with model: [@post, @comment], url: posts_comments_path do |f| %>
    <%= f.text_area :comment_introduction, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
 </div>

