<h1 style="margin-left:300px;">投稿詳細</h1>

 <div class="post_show" style="margin:20px">
    <%= image_tag @post.user.profile, size: "70x70", style: "float:left;" %>
     
      <div style="float:left">
        <%= @post.title %><br>
        <%= @post.introduction %>
      </div>
     
   <%= @post.game_name %><br>
   <%= @post.various_id %>
 </div>

 <div>
     <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <div>
              <%= image_tag comment.user.profile, size: "70x70" %>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment_introduction %>
          </div>
        <% end %>
 </div>

 <div>
  <%= form_with model: [@post, @comment], url: posts_comments_path do |f| %>
    <%= f.text_area :comment_introduction, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
 </div>

