
<div style="margin-bottom:100px; margin-top:50px;">

<h1 class="page_title">投稿詳細</h1>

 <div class="post_show">
    <div style="float:right">
        <div style="border:1px solid">
       <%= @post.game_name %><br>
        </div>

        <div style="margin-top:100px; margin-left:auto; border:1px solid">
          <%= @post.various_id %>
        </div>
      </div>
     
     <%= link_to users_show_path(@post.user_id) do %>
       <%= image_tag @post.user.profile, size: "70x70", class: "top_post_image"%>
    <% end %>

      <div class="post_title">
        <b><%= @post.title %></b><br>
      </div>
      
      <div class="post_introduction">
        <%= @post.introduction %>
      </div>

 </div>
 
     <% if @post.user_id == current_user.id %>
     <%= link_to "編集", users_posts_edit_path(@post.id), class: "show_edit_button" %>
     <% end %>
     
    <b><p style="margin-left:400px;">コメント件数：<%= @post.comments.count %></p></b>
     <div class="comment_area">
       
    <% @post.comments.each do |comment| %>

          
          <div>
              <div style="float:right;">
                <% if comment.user == current_user %>
                  <%= link_to "削除", destroy_posts_comments_path(comment.id), method: :delete, style: "text-decoration: none;" %>
                <% end %> 
              </div>
              <%= link_to users_show_path(comment.user_id), style: "text-decoration: none;" do %>
            <%= image_tag comment.user.profile, size: "35x35", class: "comment_image" %>
              <% end %>

            <div class="post_comment">
              <%= comment.comment_introduction %>
            </div>
            
          </div>
        <% end %>
 </div>

 <div style="margin-top:20px; margin-left:500px;">
  <%= form_with model: [@post, @comment], url: posts_comments_path do |f| %>
    <%= f.text_area :comment_introduction, rows: '5', placeholder: "コメントをここに", style: "width:300px; height:30px;" %>
    <%= f.submit "送信する" %>
  <% end %>
 </div>

</div>
