
<h2 class="page_title">管理者ログイン</h2>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login_form">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:25%; margin-left:40px;" %>
  </div>

  <div class="login_form">
    <%= f.label "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password", style: "width:25%; margin-left:70px;" %>
  </div>


  <div class="login_form">
    <%= f.submit "ログイン" %>
  </div>
<% end %>



