<h1>投稿一覧</h1>

  <% @posts.each do |t| %>
    <div style="margin: 20px">
      <%= t.title %><br>
      <%= t.introduction %><br>
      <%= t.game_name %><br>
      <%= t.various_id %><br>

      
        <%= link_to "編集", users_posts_edit_path(t.id) %>

    </div>
  <% end %>

  

<li class="nav-item">
  <%= link_to destroy_user_session_path, method: :delete do %>
    <font>ログアウト</font>
  <% end %>
</li>
