
<div style="margin-bottom:100px; margin-top:50px;">

<h2 class="page_title">投稿一覧</h2>

  <% @posts.each do |post| %>
   
    <div class="post_top">
      <div style="float:right">
        <div style="border:1px solid">
       <%= post.game_name %><br>
        </div>

        <div style="margin-top:50px; margin-left:85px; border:1px solid">
          <%= post.various_id %>
        </div>
      </div>
     
    <%= image_tag post.user.profile, size: "70x70", class: "top_post_image"%>

      <div class="post_title">
        <%= link_to users_posts_show_path(post.id), style: "text-decoration: none; color:blue;" do %>
        <b><%= post.title %></b><br>
        <% end %>
      </div>
      <div class="post_introduction">
        <%= post.introduction %>
        
      </div>

      

 </div>

      
        

  <% end %>
  
  </div>
