
<div>
<h1 class="page_title" style="width:200px;">会員一覧</h1>

<div style="margin-left:800px;">
      <%= form_with url: admin_homes_path, method: :get do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', name: nil %>
      <% end %>
</div>
    
</div>
    
  <div class="admin_user_all">
    <table border="3" style="border-collapse: collapse; width:60%; background-color:white;">
      <thead>
        <tr>
          <th style="width:5%" bgcolor="gray">ID</th>
          <th style="width:20%" bgcolor="gray">ニックネーム</th>
          <th style="width:35%" bgcolor="gray">メールアドレス</th>
        </tr>
      </thead>
      <tbody>
         <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td>
            <%= link_to edit_admin_user_path(user.id) do %>
            <%= user.name %>
            <% end %>
          </td>
          <td><%= user.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  

