<h2 class="page_title">新規メンバー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div id="new_form_group">
  <div class="new_image">
    <%= f.label "プロフィール画像" %><br>
    <%= f.file_field :profile, accept: "image/*" %>
    
  </div>


  <div class="new_params">
    <%= f.label "ニックネーム" %>
    <%= f.text_field :name, autofocus: true, style: "margin-left:65px;" %>
  </div>

  <div class="new_params">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email", style: "margin-left:50px;" %>
  </div>

  <div class="new_params">
    <%= f.label "パスワード" %>
    <%= f.password_field :password, autocomplete: "new-password", style: "margin-left:82px;" %>
  </div>

  <div class="new_params">
    <%= f.label "年齢" %>
    <%= f.text_field :age, style: "margin-left:130px;" %>歳
  </div>

  <div class="new_params">
    <%= f.label "よくプレイするゲーム" %>
    <%= f.text_field :game_title %>
  </div>

  <div class="new_params">
    <%= f.label "よく遊ぶ時間帯　　　" %>
    <%= f.select :play_time, [["平日昼間","平日昼間"], ["平日夜間","平日夜間"], ["土日昼間","土日昼間"], ["土日夜間","土日夜間"], ["不定期","不定期"]] %>
  </div>
  
  </div>

  <div style="text-align:center; margin-top:40px;">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
  