
<div style="margin-bottom:100px; margin-top:50px;">

  <% if current_user != @user %>
  <h1 style="margin-left:300px; font-family: dot-text;"><%= @user.name %>さんのページ</h1>
  
  <% else %>
  <h1 style="margin-left:300px; font-family: dot-text;">マイページ</h1>
  
  <% end %>

  <div class="mypage">
    <%= image_tag @user.profile, size: "150x150", style:"border:1px solid; margin-top:20px;" %><br>
    ニックネーム:<%= @user.name %><br>
   
    <div style="margin:10px 0; font-family: dot-text;">
    <%= link_to relationships_follows_path(@user.id), style: "text-decoration: none; color:blue;" do %>
      フォロー<%= @follow_users.count %>
    <% end %>&nbsp;&nbsp;
    <%= link_to relationships_followers_path(@user.id), style: "text-decoration: none; color:blue;" do %>
     フォロワー<%= @follower_users.count %>
    <% end %>
    </div>
    
    <% if @user == current_user %>
      <b><%= link_to 'プロフィール編集', users_edit_path(@user.id), style: "text-decoration: none; color:blue;" %></b>
     
    <% else %>
    
      <% if current_user != @user %>
        <% if current_user.follow?(@user) %>
          <b><%= link_to 'フォロー外す', relationships_path(@user.id), method: :delete, style: "text-decoration: none; color:blue;" %></b>
        <% else %>
          <b><%= link_to 'フォローする', relationships_path(@user.id), method: :post, style: "text-decoration: none; color:blue;"  %></b>
        <% end %>
      <% end %>
      
    <% end %>
    
  </div>
  
  <div class="post_all">
      <% Post.all.each do |post| %>
        <% if post.user_id == @user.id %>
        
        <div>
          <%= image_tag post.user.profile, class: "posts_image", size: "70x70" %>
        </div>
        
            <div style="height:100px; margin:5px 0; border:2px solid;">
              
              <div class="post_game_name">
                
                <div style="margin-top:75px; border:0.5px solid;">
                <%= post.created_at.strftime('%Y/%m/%d') %>
                </div>
              </div>
              
              <div style="margin:10px 0; font-size: 16px;">
                <%= link_to users_posts_show_path(post.id), style: "text-decoration: none; color:blue;" do %>
                  <b><%= post.title %></b>
                <% end %>
              </div>
              
              <div style="margin:10px 0; font-size: 14px;">
                <%= post.introduction %>
              </div>

        
            </div>
        <% end %>
      <% end %>
  </div>
  
  
</div>