
<div class="left-side-bar">
      <% rank_num = 1 %>
      <% Post.find(Post.group(:game_name).order('count(game_name) desc').limit(5).pluck(:id)).each.with_index(1) do |post, i| %>
        <p>第<%= rank_num %>位<%= post.game_name %></p>
        <% rank_num += 1 %>
      <% end %>
</div>

<div class="right-side-bar">
    <div style="margin-top:50px;">
      <%= form_with url: root_path, method: :get do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
</div>

<h1 class="page_title">退会確認</h1>

    <div style="text-align:center;">
        <h2>本当に退会しますか？</h2>
        
        <p style="">退会をすると、投稿にコメントができなくなります。<br>
                    また、今までの投稿も全て削除されます。<br><br>
        
                    退会をする場合は「退会する」ボタンをクリックしてください。<br>
                    退会をしない場合は「まだ遊ぶ」ボタンをクリックしてください。
        </p>
        
        <div>
            <%= link_to "退会する", users_withdraw_path(current_user.id), method: :patch, style: "margin-right:30px;" %>
            <%= link_to "退会しない", users_edit_path(current_user.id) %>
        </div>
        
        
    </div>
