<!DOCTYPE html>
<html>
  <head>
    <title>GamerConnection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color:black;">
      
        <div class="header_tag">
          
          <nav>
            <ul>
              <li>
                <b><%= link_to "Topへ", admin_homes_path, style: "text-decoration: none; color:black;" %></b>
              </li>
              
              <li>
                <b><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, style: "text-decoration: none; color:black;" %></b>
              </li>
                
            </ul>
          </nav>
      </div>
        
        <div class="header-text" style="text-align:center;">Gamer Connection</div>
        
      
    </header>
    <%= yield %>
    
    <footer>
        <div class="footer_area">
          
        </div>
        
      </footer>
  </body>
</html>
